<div class="files pl-20">
    <ul class="files__item list">
        <li class="list__item">Folder 1
            <div class="files">
                <ul class="files__item list">
                    <li class="list__item list__item_file">File 1.1</li>
                </ul>
            </div>
        </li>
        <li class="list__item">Folder 2
            <div class="files">
                <ul class="files__item list">
                    <li class="list__item">Subfolder 2.1
                        <div class="files">
                            <ul class="files__item list">
                                <li class="list__item list__item_file">File 2.1.1</li>
                                <li class="list__item list__item_file">File 2.1.2</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list__item list__item_file">File 2.2</li>
                </ul>
            </div>

        </li>
        <li class="list__item list__item_folder-close">Folder 3
            <div class="files">
                <ul class="files__item list">
                    <li class="list__item list__item_file">File 3</li>
                </ul>
            </div>
        </li>
        <li class="list__item list__item_file">File 4</li>
    </ul>
</div>
